name: Test and build C++ library

on:
  push:
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 7 * * 1"

jobs:
  cpp-library:
    name: Build and test C++ library
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: actions/checkout@v4

      - run: |
          cd python
          python3 -m pip install .
        name: Install qrtools

      - run: |
          cd library
          python build.py cpp
          mkdir cpp.build/build
          cd cpp.build/build
          cmake -DCMAKE_INSTALL_PREFIX:PATH=. ..
          make
          make install
        name: Build C++ library

      - run: |
          export CMAKE_PREFIX_PATH="$CMAKE_PREFIX_PATH:$(pwd)/library/cpp.build/build/lib/cmake"
          python library/cpp.build/test/run_tests.py
        name: Run C++ tests
